.DS_Store
*.vio
*.vos
*.glob
*.vo
*.vok
*.aux
out.*
*.log
*.mng

.evc
.lia.cache
typeset/*.pdf
typeset/*.tex
*.coq.d

core/Proof/html/*
core+bidir/Proof/html/*
core+bidir+record/Proof/html/*
core+bidir+record+unified/Proof/html/*

*.swp
Makefile.coq
Makefile.coq.conf

*.rkt~
lang/compiled/*
